<h1>Flights</h1>
<%= form_tag(flights_path, method: :get) do %>
	<%= label_tag "Departing From:" %><br>
	<%= select_tag(:departing_from, options_for_select(@airport_options)) %><br>
	<br>
	<%= label_tag "Arriving At:" %><br>
	<%= select_tag(:arriving_at, options_for_select(@airport_options)) %><br>
	<br>
	<%= label_tag "Date:" %><br>
	<%= select_tag(:date, options_for_select(@flight_dates)) %><br>
	<br>
	<%= label_tag "Passengers:" %><br>
	<%= select_tag(:passagers, options_for_select(@passenger_max)) %><br>
	<br>
	<%= submit_tag "Search" %>
<% end %>
<br>
<% if @available_flights %>
	<%= form_tag "bookings/new", method: :get do %>
		<table>
			<th><%= label_tag "Departing" %></th>
			<th><%= label_tag "Arriving"  %></th>
			<th><%= label_tag "Date"      %></th>

			<% @available_flights[0].each do |flight| %>
				<tr>
					<td><%= flight.from_airport.code %></td>
					<td><%= flight.to_airport.code %></td>
					<td><%= flight.formatted_date %></td>
				</tr>
			<% end %>

		</table>
	<% end %>
<% end %>