<h1>Flights</h1>
<%= form_tag(flights_path, method: :get) do %>
	<%= label_tag "Departing From:" %><br>
	<%= select_tag(:departing_from, options_for_select(@airport_options)) %><br>
	<br>
	<%= label_tag "Arriving At:" %><br>
	<%= select_tag(:arriving_at, options_for_select(@airport_options)) %><br>
	<br>
	<%= label_tag "Date:" %><br>
	<%= select_tag(:date, options_for_select(@flight_dates)) %><br>
	<br>
	<%= label_tag "Passengers:" %><br>
	<%= select_tag(:passengers, options_for_select(@passenger_max)) %><br>
	<br>
	<%= submit_tag "Search" %>
<% end %>
<br>
<% if @available_flights %>
	<%= form_tag bookings_path, method: :get do %>
		<%= hidden_field_tag(:passengers, params[:passengers]) %>
		<table>
			<th><%= label_tag "Book"  %></th>
			<th><%= label_tag "Departing" %></th>
			<th><%= label_tag "Arriving"  %></th>
			<th><%= label_tag "Date"      %></th>
			<% @available_flights.each do |flight| %>
				<tr>
					<td><%= radio_button_tag(:flight_id, flight.id) %></td>
					<td><%= flight.from_airport.code %></td>
					<td><%= flight.to_airport.code   %></td>
					<td><%= flight.formatted_date    %></td>
				</tr>
			<% end %>
		</table>
		<br>
		<%= submit_tag "Book Flight" %>
	<% end %>
<% end %>