<h1>Book your flight</h1>
<table>
	<th>Flight #<%= @flight.id %>               </th>
	<th>From:   <%= @flight.from_airport.code %></th>
	<th>To:     <%= @flight.to_airport.code %>  </th>
	<th>Date:   <%= @flight.formatted_date %>   </th>
</table>
<br>
<%= form_for @booking do |f| %> <!--makes params[:booking] -->
	<%= hidden_field_tag(:flight_id, params[:flight_id]) %>
	<% @passengers.each do |passenger| %>
 <!--makes params[:booking][passenger], index makes each unique -->
		<%= f.fields_for passenger, index: passenger.id do |p| %>
			<p>Passenger:</p>
			<%= label_tag :name %>
			<%= p.text_field :name %>
			<br>
			<%= label_tag :email %>
			<%= p.email_field :email %>
			<br>
		<% end %>
  <% end %>
	<%= f.submit "Book Flight" %>
<% end %>

